<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🔎 회원 목록 조회</title>
</head>
<body>
    <div th:replace="member/header :: headerFragment"></div>
    <table>
        <tr>
            <th>고유 ID</th>
            <th>이름</th>
            <th>이메일</th>
        </tr>
        <tr th:each = "member : ${memberList}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.email}"></td>
<!--            thymeleaf 문법을 통해 id 찾아주기.-->
            <td><a th:href="@{/member/detail/{id}(id = ${member.id})}">🔎 상세 조회</a></td>
        </tr>
    </table>
</body>
</html>