<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>📝 회원 가입</title>
</head>
<body>
<div>
    <form action="/hello/form-post1" method="post" enctype="application/x-www-form-urlencoded">
        <label for="name">이름 : </label>
        <input
                type="text"
                id="name"
                name="name"
                rows="1"
                cols="30"
                placeholder="이름을 작성해주세요."
        />
        <br/>
        <br/>
        <label for="email">이메일 : </label>
        <input
                type="text"
                id="email"
                name="email"
                rows="1"
                cols="30"
                placeholder="이메일을 작성해주세요."
        />
        <br/>
        <br/>
        <label for="password">비밀번호 : </label>
        <input
                type="text"
                id="password"
                name="password"
                rows="1"
                cols="30"
                placeholder="비밀번호를 작성해주세요."
        />
        <input type="submit" value="제출">
    </form>
</div>
</body>
</html>